src/main/mule/localtransactionsdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/bti http://www.mulesoft.org/schema/mule/ee/bti/current/mule-bti-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="16e0f395-dd91-439c-b71a-81a59b14e372" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dbdemoFlow" doc:id="a0e257d9-355f-492f-b9f6-87944f0c132b" initialState="started">
		<http:listener doc:name="Listener" doc:id="a69d709b-3398-400a-ace7-7d31d98babe2" config-ref="HTTP_Listener_config" path="/save"/>
		<ee:transform doc:name="Transform Message" doc:id="a0c35e13-0500-4ada-a12c-de656015d650">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
product: {
	
	name: log("Got Name as ",attributes.queryParams.name),
	brand_name: attributes.queryParams.brand_name,
	originalPrice: attributes.queryParams.original_price
}]]></ee:set-payload>
			</ee:message>
				<ee:variables>
					<ee:set-variable variableName="bname"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.brand_name]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
		<db:insert doc:name="InserttoProduct" doc:id="5a86bd3e-9a40-4f40-abb4-ebc94bb245ef" target="insertresponse" queryTimeoutUnit="NANOSECONDS" config-ref="Database_Config">
			<db:sql><![CDATA[insert into product(brand_name,offer_price,original_price) values(:bname,:offerPrice,:originalPrice)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	bname: payload.product.brand_name,
	offerPrice: payload.product.originalPrice,
	originalPrice: payload.product.originalPrice,
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="a45bc8f4-b7ba-4962-9787-f65c55c1890c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if(vars.bname=='Samsung')
 dw::Runtime::fail("We dont Accept Samsung")
else 
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Inserttocopyproduct" doc:id="a5736e3c-31b2-4202-9fa3-361ad9ead688" config-ref="Database_Config">
				<db:sql><![CDATA[insert into copyproduct(brand_name,offer_price,original_price) values(:bname,:offerPrice,:originalPrice)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	bname: payload.product.brand_name,
	offerPrice: payload.product.originalPrice,
	originalPrice: payload.product.originalPrice,
}]]]></db:input-parameters>
			</db:insert>
		<set-payload value="#['Inserted Successfully']" doc:name="Set Payload" doc:id="59f97c74-f836-4bf2-ac3d-00e4bb8e93ef" />
	</flow>
</mule>
